In [ ]:
"""
Блок 3. Оптимизация через подзапросы
"""

import libs.db_connection

# Пример большого количества джоинов
sql1 = """explain (analyze) 
SELECT * 
FROM task31 t1
left join task32 t2 on t2.link2 = t1.link1
left join task33 t3 on t3.link3 = t2.link2
left join task34 t4 on t4.link4 = t2.link2
left join task35 t5 on t5.link5 = t1.link1
left join task36 t6 on t6.link6 = t1.link1
left join task37 t7 on t7.link7 = t2.link2
left join task38 t8 on t8.link8 = t2.link2
left join task39 t9 on t9.link9 = t2.link2
left join task310 t10 on t10.link10 = t1.link1;"""

            
libs.db_connection.select_data_dict_with_commit(sql1, [])

In [ ]:
# Промежуточная материализация

sql1 = """create table task3_materialized as 
select t2.* 
from task32 t2 
left join task33 t3 on t3.link3 = t2.link2
left join task34 t4 on t4.link4 = t2.link2
left join task37 t7 on t7.link7 = t2.link2
left join task38 t8 on t8.link8 = t2.link2
left join task39 t9 on t9.link9 = t2.link2;"""

libs.db_connection.execute(sql1)

sql1 = """explain (analyze) 
select t2.* 
from task32 t2 
left join task33 t3 on t3.link3 = t2.link2
left join task34 t4 on t4.link4 = t2.link2
left join task37 t7 on t7.link7 = t2.link2
left join task38 t8 on t8.link8 = t2.link2
left join task39 t9 on t9.link9 = t2.link2;"""

libs.db_connection.select_data_dict_with_commit(sql1, [])

In [ ]:
# Переписанный запрос
sql1 = """explain (analyze) 
SELECT * 
FROM task31 t1
left join task3_materialized t2 on t2.link2 = t1.link1
left join task35 t5 on t5.link5 = t1.link1
left join task36 t6 on t6.link6 = t1.link1
left join task310 t10 on t10.link10 = t1.link1;"""

libs.db_connection.select_data_dict_with_commit(sql1, [])

In [ ]:
# Использование temporary table

sql1 = """create TEMPORARY table task3_materialized as 
select t2.* 
from task32 t2 
left join task33 t3 on t3.link3 = t2.link2
left join task34 t4 on t4.link4 = t2.link2
left join task37 t7 on t7.link7 = t2.link2
left join task38 t8 on t8.link8 = t2.link2
left join task39 t9 on t9.link9 = t2.link2;"""

libs.db_connection.execute(sql1)

# Переписанный запрос
sql1 = """explain (analyze) 
SELECT * 
FROM task31 t1
left join task3_materialized t2 on t2.link2 = t1.link1
left join task35 t5 on t5.link5 = t1.link1
left join task36 t6 on t6.link6 = t1.link1
left join task310 t10 on t10.link10 = t1.link1;"""

libs.db_connection.select_data_dict_with_commit(sql1, [])

In [ ]:
# Задание
# Посмотреть запрос и переписать его через промежуточную материализацию


sql1 = """explain (analyze)
SELECT * 
FROM task35 t5
left join task37 t7 on t7.link7 = t5.link5
left join task36 t6 on t6.link6 = t7.link7
;"""

            
libs.db_connection.select_data_dict_with_commit(sql1, [])

In [ ]:
# Результат

sql1 = """
explain (analyze)
select *
from
"""

            
libs.db_connection.select_data_dict_with_commit(sql1, [])